In [3]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv('workshopdata-labeling.csv')

In [5]:
data

,Date,Market,Symbol,Market Cap,PE,PEG,PBV,BVPS,Dividend Yield,12M Dividend Yield,Volume Turnover
0,21/10/2021,SET,7UP,"8,177,441,790",39.35,0.58,3.16,0.50,NaN,NaN,0.71
1,21/10/2021,SET,AH,"7,629,103,258",6.88,-0.03,0.93,23.23,0.63,2.82,0.96
2,21/10/2021,SET,AI,"5,564,992,217",9.18,1.50,2.14,3.71,7.55,11.07,0.10
3,21/10/2021,SET,AIT,"8,252,835,880",15.22,0.24,2.82,14.18,3.75,4.88,1.54
4,21/10/2021,SET,AJ,"8,536,000,000",14.44,0.32,1.78,10.87,3.47,4.12,0.35
...,...,...,...,...,...,...,...,...,...,...,...
219,21/10/2021,SET,TTB,"109,183,848,275",13.36,-0.52,0.53,2.13,3.97,3.97,0.17
220,21/10/2021,SET,TU,"99,253,762,317",12.64,0.26,1.71,12.14,3.46,4.09,0.46
221,21/10/2021,SET,TVO,"25,269,093,281",10.40,0.20,2.50,12.49,5.44,6.72,0.28
222,21/10/2021,SET,VGI,"54,680,902,246",49.99,6.53,3.44,1.85,0.96,0.96,0.46
223,21/10/2021,SET,WHA,"49,922,427,828",21.92,-3.93,1.74,1.92,3.00,3.00,0.57

In [6]:
data.describe()

,PE,PEG,PBV,BVPS,Dividend Yield,12M Dividend Yield,Volume Turnover
count,193.000000,185.000000,224.000000,224.000000,179.000000,180.000000,223.000000
mean,88.500518,-0.512324,3.490759,14.613616,3.054972,3.323389,0.556502
std,627.518879,7.371914,6.460798,37.323462,2.779672,2.471288,0.758762
min,2.930000,-85.780000,0.340000,0.180000,0.030000,0.030000,0.010000
25%,11.370000,-0.430000,1.180000,2.345000,1.325000,1.652500,0.120000
50%,19.580000,0.170000,2.080000,4.755000,2.410000,2.865000,0.280000
75%,30.970000,0.670000,4.005000,10.472500,3.965000,4.317500,0.735000
max,8570.030000,22.800000,89.340000,293.320000,27.180000,16.770000,7.030000

In [7]:
df=data.copy()

In [8]:
df

,Date,Market,Symbol,Market Cap,PE,PEG,PBV,BVPS,Dividend Yield,12M Dividend Yield,Volume Turnover
0,21/10/2021,SET,7UP,"8,177,441,790",39.35,0.58,3.16,0.50,NaN,NaN,0.71
1,21/10/2021,SET,AH,"7,629,103,258",6.88,-0.03,0.93,23.23,0.63,2.82,0.96
2,21/10/2021,SET,AI,"5,564,992,217",9.18,1.50,2.14,3.71,7.55,11.07,0.10
3,21/10/2021,SET,AIT,"8,252,835,880",15.22,0.24,2.82,14.18,3.75,4.88,1.54
4,21/10/2021,SET,AJ,"8,536,000,000",14.44,0.32,1.78,10.87,3.47,4.12,0.35
...,...,...,...,...,...,...,...,...,...,...,...
219,21/10/2021,SET,TTB,"109,183,848,275",13.36,-0.52,0.53,2.13,3.97,3.97,0.17
220,21/10/2021,SET,TU,"99,253,762,317",12.64,0.26,1.71,12.14,3.46,4.09,0.46
221,21/10/2021,SET,TVO,"25,269,093,281",10.40,0.20,2.50,12.49,5.44,6.72,0.28
222,21/10/2021,SET,VGI,"54,680,902,246",49.99,6.53,3.44,1.85,0.96,0.96,0.46
223,21/10/2021,SET,WHA,"49,922,427,828",21.92,-3.93,1.74,1.92,3.00,3.00,0.57

#  if marketcap come with string format can use this

In [9]:
df['Market Cap']= df['Market Cap'].apply(lambda x: x.replace(',', ''))

In [11]:
df['Market Cap']=df['Market Cap'].apply(lambda x: float(x))

In [12]:
df

,Date,Market,Symbol,Market Cap,PE,PEG,PBV,BVPS,Dividend Yield,12M Dividend Yield,Volume Turnover
0,21/10/2021,SET,7UP,8.177442e+09,39.35,0.58,3.16,0.50,NaN,NaN,0.71
1,21/10/2021,SET,AH,7.629103e+09,6.88,-0.03,0.93,23.23,0.63,2.82,0.96
2,21/10/2021,SET,AI,5.564992e+09,9.18,1.50,2.14,3.71,7.55,11.07,0.10
3,21/10/2021,SET,AIT,8.252836e+09,15.22,0.24,2.82,14.18,3.75,4.88,1.54
4,21/10/2021,SET,AJ,8.536000e+09,14.44,0.32,1.78,10.87,3.47,4.12,0.35
...,...,...,...,...,...,...,...,...,...,...,...
219,21/10/2021,SET,TTB,1.091838e+11,13.36,-0.52,0.53,2.13,3.97,3.97,0.17
220,21/10/2021,SET,TU,9.925376e+10,12.64,0.26,1.71,12.14,3.46,4.09,0.46
221,21/10/2021,SET,TVO,2.526909e+10,10.40,0.20,2.50,12.49,5.44,6.72,0.28
222,21/10/2021,SET,VGI,5.468090e+10,49.99,6.53,3.44,1.85,0.96,0.96,0.46
223,21/10/2021,SET,WHA,4.992243e+10,21.92,-3.93,1.74,1.92,3.00,3.00,0.57

In [13]:
df['Label'] = df['Market Cap'].apply(lambda x: 3 if x > 1e10 else (2 if 2e9 < x < 1e10 else (1 if 3e8 < x <2e9 else 0)))

# alternative way

In [47]:
df['Label2']=df['Market Cap'].apply(lambda x :3 if x >  10000000000 else (2 if 2000000000 < x < 10000000000 else(1 if 30000000 <x <2000000000 else 0)))

In [14]:
df

,Date,Market,Symbol,Market Cap,PE,PEG,PBV,BVPS,Dividend Yield,12M Dividend Yield,Volume Turnover,Label
0,21/10/2021,SET,7UP,8.177442e+09,39.35,0.58,3.16,0.50,NaN,NaN,0.71,2
1,21/10/2021,SET,AH,7.629103e+09,6.88,-0.03,0.93,23.23,0.63,2.82,0.96,2
2,21/10/2021,SET,AI,5.564992e+09,9.18,1.50,2.14,3.71,7.55,11.07,0.10,2
3,21/10/2021,SET,AIT,8.252836e+09,15.22,0.24,2.82,14.18,3.75,4.88,1.54,2
4,21/10/2021,SET,AJ,8.536000e+09,14.44,0.32,1.78,10.87,3.47,4.12,0.35,2
...,...,...,...,...,...,...,...,...,...,...,...,...
219,21/10/2021,SET,TTB,1.091838e+11,13.36,-0.52,0.53,2.13,3.97,3.97,0.17,3
220,21/10/2021,SET,TU,9.925376e+10,12.64,0.26,1.71,12.14,3.46,4.09,0.46,3
221,21/10/2021,SET,TVO,2.526909e+10,10.40,0.20,2.50,12.49,5.44,6.72,0.28,3
222,21/10/2021,SET,VGI,5.468090e+10,49.99,6.53,3.44,1.85,0.96,0.96,0.46,3
223,21/10/2021,SET,WHA,4.992243e+10,21.92,-3.93,1.74,1.92,3.00,3.00,0.57,3

In [15]:
df.head(20)

,Date,Market,Symbol,Market Cap,PE,PEG,PBV,BVPS,Dividend Yield,12M Dividend Yield,Volume Turnover,Label
0,21/10/2021,SET,7UP,8.177442e+09,39.35,0.58,3.16,0.50,NaN,NaN,0.71,2
1,21/10/2021,SET,AH,7.629103e+09,6.88,-0.03,0.93,23.23,0.63,2.82,0.96,2
2,21/10/2021,SET,AI,5.564992e+09,9.18,1.50,2.14,3.71,7.55,11.07,0.10,2
3,21/10/2021,SET,AIT,8.252836e+09,15.22,0.24,2.82,14.18,3.75,4.88,1.54,2
4,21/10/2021,SET,AJ,8.536000e+09,14.44,0.32,1.78,10.87,3.47,4.12,0.35,2
5,21/10/2021,SET,ALT,3.057014e+09,1514.10,-15.30,1.70,1.59,3.33,3.33,0.07,2
6,21/10/2021,SET,AMANAH,5.075409e+09,16.24,0.86,3.22,1.52,2.64,2.64,0.15,2
7,21/10/2021,SET,ANAN,5.332800e+09,22.93,-0.05,0.34,4.69,NaN,NaN,1.35,2
8,21/10/2021,SET,APCS,3.563999e+09,15.26,0.03,1.89,2.86,1.11,1.11,0.05,2
9,21/10/2021,SET,APURE,8.049530e+09,24.01,0.24,4.25,2.04,1.17,1.96,2.01,2
10,21/10/2021,SET,AS,8.453303e+09,22.03,0.22,14.76,1.35,1.47,3.48,1.52,2
11,21/10/2021,SET,ASIAN,1.302540e+10,14.14,0.14,3.51,4.56,2.29,3.85,0.58,3
12,21/10/2021,SET,ASK,2.098178e+10,21.03,1.42,2.44,16.28,2.85,2.85,0.17,3
13,21/10/2021,SET,ASP,8.001493e+09,9.77,0.08,1.57,2.41,4.74,8.42,3.39,2
14,21/10/2021,SET,BA,2.478000e+10,NaN,NaN,1.20,9.85,NaN,NaN,0.04,3
15,21/10/2021,SET,BAFS,1.832801e+10,NaN,NaN,3.57,8.05,NaN,NaN,0.18,3
16,21/10/2021,SET,BEAUTY,5.021470e+09,NaN,NaN,6.27,0.27,NaN,NaN,7.03,2
17,21/10/2021,SET,BGC,7.708328e+09,13.14,0.85,1.79,6.19,4.14,4.50,0.78,2
18,21/10/2021,SET,BWG,3.276806e+09,NaN,NaN,0.86,0.84,NaN,NaN,0.48,2
19,21/10/2021,SET,BYD,1.249470e+10,NaN,NaN,8.26,1.06,NaN,NaN,0.31,3

In [16]:
df[df['Label']==1]

Empty DataFrame
Columns: [Date, Market, Symbol, Market Cap, PE, PEG, PBV, BVPS, Dividend Yield, 12M Dividend Yield, Volume Turnover, Label]
Index: []

In [17]:
df['PE Range'] = df['PE'].apply(lambda x: 'PE<10' if x < 10 else ('PE 10-20' if 10 < x < 20 else ('PE 20-50' if 20 < x < 50 else('PE>50'if x>50 else 0))))

In [18]:
df

,Date,Market,Symbol,Market Cap,PE,PEG,PBV,BVPS,Dividend Yield,12M Dividend Yield,Volume Turnover,Label,PE Range
0,21/10/2021,SET,7UP,8.177442e+09,39.35,0.58,3.16,0.50,NaN,NaN,0.71,2,PE 20-50
1,21/10/2021,SET,AH,7.629103e+09,6.88,-0.03,0.93,23.23,0.63,2.82,0.96,2,PE<10
2,21/10/2021,SET,AI,5.564992e+09,9.18,1.50,2.14,3.71,7.55,11.07,0.10,2,PE<10
3,21/10/2021,SET,AIT,8.252836e+09,15.22,0.24,2.82,14.18,3.75,4.88,1.54,2,PE 10-20
4,21/10/2021,SET,AJ,8.536000e+09,14.44,0.32,1.78,10.87,3.47,4.12,0.35,2,PE 10-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,21/10/2021,SET,TTB,1.091838e+11,13.36,-0.52,0.53,2.13,3.97,3.97,0.17,3,PE 10-20
220,21/10/2021,SET,TU,9.925376e+10,12.64,0.26,1.71,12.14,3.46,4.09,0.46,3,PE 10-20
221,21/10/2021,SET,TVO,2.526909e+10,10.40,0.20,2.50,12.49,5.44,6.72,0.28,3,PE 10-20
222,21/10/2021,SET,VGI,5.468090e+10,49.99,6.53,3.44,1.85,0.96,0.96,0.46,3,PE 20-50
223,21/10/2021,SET,WHA,4.992243e+10,21.92,-3.93,1.74,1.92,3.00,3.00,0.57,3,PE 20-50

In [19]:
df[df['PE Range']=='PE>50']

,Date,Market,Symbol,Market Cap,PE,PEG,PBV,BVPS,Dividend Yield,12M Dividend Yield,Volume Turnover,Label,PE Range
5,21/10/2021,SET,ALT,3.057014e+09,1514.10,-15.30,1.70,1.59,3.33,3.33,0.07,2,PE>50
20,21/10/2021,SET,CCET,1.329147e+10,62.48,0.73,0.77,3.49,1.01,1.07,0.03,3,PE>50
23,21/10/2021,SET,CHAYO,1.106243e+10,65.88,2.98,4.72,2.76,0.04,0.04,0.15,3,PE>50
42,21/10/2021,SET,JTS,4.503665e+10,605.27,2.43,89.34,0.71,NaN,NaN,0.22,3,PE>50
64,21/10/2021,SET,NVD,3.948516e+09,146.41,-1.00,0.88,3.26,NaN,NaN,0.01,2,PE>50
70,21/10/2021,SET,PYLON,3.374430e+09,54.76,-0.69,3.50,1.29,3.11,3.11,0.01,2,PE>50
77,21/10/2021,SET,SABUY,1.129156e+10,83.57,NaN,7.24,1.52,0.27,0.55,0.16,3,PE>50
83,21/10/2021,SET,SEAFCO,3.387862e+09,333.86,-3.44,2.08,2.20,2.18,0.66,0.09,2,PE>50
115,21/10/2021,SET,UNIQ,7.350911e+09,274.19,-2.88,0.91,7.45,NaN,NaN,0.04,2,PE>50
117,21/10/2021,SET,UV,8.297761e+09,8570.03,-85.78,0.83,5.25,0.46,0.46,0.46,2,PE>50
122,21/10/2021,SET,XPG,2.973748e+10,729.50,-13.28,11.26,0.60,NaN,NaN,0.42,3,PE>50
123,21/10/2021,SET,ZEN,3.660000e+09,163.48,-1.29,3.12,3.91,2.05,2.05,0.05,2,PE>50
137,21/10/2021,SET,BDMS,3.734620e+11,53.51,-3.50,4.55,5.16,2.34,3.40,0.25,3,PE>50
139,21/10/2021,SET,BEM,1.368008e+11,72.11,-6.92,3.62,2.47,1.12,1.12,0.16,3,PE>50
141,21/10/2021,SET,BH,1.132285e+11,161.51,-2.17,6.58,21.64,2.25,2.25,0.13,3,PE>50
153,21/10/2021,SET,CRC,2.141005e+11,117.40,-2.44,3.96,8.97,1.13,1.13,0.08,3,PE>50
154,21/10/2021,SET,DELTA,5.638165e+11,73.84,0.76,14.94,30.25,0.73,0.73,0.09,3,PE>50
162,21/10/2021,SET,GULF,4.986589e+11,85.19,1.23,7.21,5.89,0.89,0.89,0.13,3,PE>50
174,21/10/2021,SET,KCE,9.923964e+10,56.65,0.76,7.78,10.80,0.95,1.19,0.84,3,PE>50
183,21/10/2021,SET,NRF,1.176653e+10,107.74,1.40,4.49,1.86,0.05,0.05,0.10,3,PE>50
187,21/10/2021,SET,PLANB,2.465431e+10,229.07,-3.11,4.64,1.37,1.22,1.22,1.14,3,PE>50
197,21/10/2021,SET,RBF,4.000000e+10,89.75,-26.21,10.04,1.99,0.75,0.75,0.39,3,PE>50
215,21/10/2021,SET,TKN,9.315000e+09,63.60,-1.07,4.75,1.42,3.11,2.22,0.57,2,PE>50

In [22]:
# find dividend
~df['Dividend Yield'].isnull()

0      False
1       True
2       True
3       True
4       True
       ...
219     True
220     True
221     True
222     True
223     True
Name: Dividend Yield, Length: 224, dtype: bool

In [20]:
df['Dividend'] = ~df['Dividend Yield'].isnull()

In [21]:
df

,Date,Market,Symbol,Market Cap,PE,PEG,PBV,BVPS,Dividend Yield,12M Dividend Yield,Volume Turnover,Label,PE Range,Dividend
0,21/10/2021,SET,7UP,8.177442e+09,39.35,0.58,3.16,0.50,NaN,NaN,0.71,2,PE 20-50,False
1,21/10/2021,SET,AH,7.629103e+09,6.88,-0.03,0.93,23.23,0.63,2.82,0.96,2,PE<10,True
2,21/10/2021,SET,AI,5.564992e+09,9.18,1.50,2.14,3.71,7.55,11.07,0.10,2,PE<10,True
3,21/10/2021,SET,AIT,8.252836e+09,15.22,0.24,2.82,14.18,3.75,4.88,1.54,2,PE 10-20,True
4,21/10/2021,SET,AJ,8.536000e+09,14.44,0.32,1.78,10.87,3.47,4.12,0.35,2,PE 10-20,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,21/10/2021,SET,TTB,1.091838e+11,13.36,-0.52,0.53,2.13,3.97,3.97,0.17,3,PE 10-20,True
220,21/10/2021,SET,TU,9.925376e+10,12.64,0.26,1.71,12.14,3.46,4.09,0.46,3,PE 10-20,True
221,21/10/2021,SET,TVO,2.526909e+10,10.40,0.20,2.50,12.49,5.44,6.72,0.28,3,PE 10-20,True
222,21/10/2021,SET,VGI,5.468090e+10,49.99,6.53,3.44,1.85,0.96,0.96,0.46,3,PE 20-50,True
223,21/10/2021,SET,WHA,4.992243e+10,21.92,-3.93,1.74,1.92,3.00,3.00,0.57,3,PE 20-50,True